body{
	font-family: Lato;
    background: #000000;
    padding-bottom: 0px;
}

img {
    max-width: 100%;
}

img.home-image {
    display: inline;
    max-width: 60%;
    padding-top: 25px;
}

a {
    color: #ffffff;
}
a:hover,a:active,a:focus{
    color: #ffffff;
	text-decoration: none;
}
a:focus{
	outline: none;
	text-decoration: none;
}
h5{
    font-size: 16px;
}
hr{
    border-color: #FFF;
}
.navbar-fixed-top,
.navbar-static-top {
    border-bottom: 0;
    background: #000000;
}

img.logo-default {
    width: 130px;
    top: 50%;
}

.navbar-nav{
    margin-left: 200px;
}
.navbar-default .navbar-nav > li > a{
    color: #ffffff;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    font-weight: 600;
}
.content{
  margin-top: 30px;
}
.nav.navbar-nav > li.active:hover > a:before{
    width: 28px;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    background-color: #232323;
}
div#nav-toggleable-sm{
    display: block;
}
@media (min-width: 768px){
    .sidebar-nav {
        margin-right: 0px;
    }
    .menu{
        margin-top: 60px;
    }
}
.menu{
	margin-top: 30px;
}
.accordion-group{
	font-size: 16px;
}
.accordion-body{
	margin-left: 10px;
}
.accordion-inner .panel-body{
	padding: 10px 10px 0 10px;
}
.accordion-inner .panel-body div{
	margin-bottom: 8px;
}
.accordion-inner .panel-body .btn{
	padding: 0.25em 0.5em;
}
.sidebar{
    text-transform: capitalize;
}

.panel-group{ margin-bottom: 0px; }
.panel-body{ padding: 0 10px; }
.panel-body .btn-pill{padding-left: 1em; padding-right: 1em;}
.panel-default > .panel-heading{ padding: 10px;}
.panel-default > .panel-heading a{color: #333;}
.panel-default > .panel-heading a:hover{color: #000;}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{border-top: none;}
.panel-heading{ padding: 5px 8px;}
.panel{ box-shadow: none; }
a.accordion-toggle{color: #FFF;}

.btn-custom{
    background: #00000;
    color: #cfd2da;
    padding: 0.5em 1.5em;
}
.btn-custom:hover,.btn-custom:focus{
    color: #FFF;
    outline: none;
}
.navbar-default .navbar-nav .form-inline .input-with-icon{
    color: #333;
    width: 880px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding-left: 10px; padding-right: 10px;}
.accordion-inner .panel-body .btn:active:focus,.accordion-inner .panel-body .btn-default:focus{
	outline: none;
}
.table > tbody > tr > td{
    border-color: #FFF;
}
.p-10{
    padding-top: 10px;
}
.custom-select{
    margin: 8px 0;
}

/* floating box style */
.floating-form { /*contact form wrapper*/
    max-width: 300px;
    padding: 30px 30px 10px 30px;
    border: 1px solid #3e3c3c;
    display: inline;
    left: 10px;
    background-color: #2f2f2f;
    opacity: .95;
    position: fixed; /*Form position fixed*/
    }
.contact-opener { /*opener button*/
    text-align: center;
    width: 80px;
    display: inline;
    position: absolute;
    right: -56px;
    transform: rotate(-270deg); /* rotate button -90deg */
    top: 100px;
    padding: 4px;
    color: #ffffff;
    background-color: #404040;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    cursor: pointer;
    border-radius: 7px 7px 0px 0px;
}

label {
    font-weight: normal;
}


footer {
    font-size: 12px;
    padding: 8px;
    margin-top: 70px;
    background-color: #191919;
}

footer label {
    color: #404040;
    margin: 0px;
    padding-top: 5px;
}

img.social-icon.icon-fb:hover {
    background-image: url('/static/images/fb-icon.png');
    padding: 0px;
    padding-left: 0px;
}
img.social-icon.icon-twitter:hover {
    background-image: url('/static/images/twitter-icon.png');
    padding-left: 0px;
}
img.social-icon.icon-youtube:hover {
    background-image: url('/static/images/yt-icon.png');
    padding-left: 0px;
}
img.social-icon.icon-soundcloud:hover {
    background-image: url('/static/images/soundcloud-icon.png');
    padding-left: 0px;
}

hr {
    border-color: #272727;
}

.yt-videos {
    padding: 10px;
}

label.latest-videos {
    padding-bottom: 10px;
}

.about-cover {
    display: block;
    max-width: 80%;
    height: 35%;
    margin-bottom: 15px;
}

.row-one {
    margin-top: 32px;
    max-width: 80%;
}

.short-bio {
    color: #7f7f7f;
    text-indent: 30px;
    line-height: 24px;
    text-align: justify;
    display: block;
}

.award-list {
    color: #7f7f7f;
    line-height: 24px;
    text-align: justify;
    display: block;

}
label.sponsor-logo {
    font-size: 11.5px;
    color: #797979;
}
hr {
    width: 210px;
    margin-top: 0px;
    border-color: #535353;
}

div.endorse-logo {
    border-left:1px solid #3b3b3b;
    max-height: 80%;
}

.endorse {
    margin-top: 30px;
}
.about {
    margin-top: 32px;
}
p.quote-para {
    max-width: 66%;
    margin-top: 10px;
    font-size: 16px;
}
div.quote {
    margin-top: 30px;
}

#rig {
    max-width:900px;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#000;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #000000 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: Lato;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:100%;
        height: auto;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
        height: auto;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:25%;
        height: auto;
    }
}



.galleryItem a{
    display:block;
    position:relative;
    padding-bottom:50%;
    overflow:hidden;

    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.galleryItem a img {
    position:absolute;
	width: 100%;
    height:auto;
    display:block;
}

/*CONTAINER STYLES*/

.container {
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
}

/*GALLERY STYLES*/
.galleryItem {
	color: #797478;
	font: 10px/1.5 Lato;
	width: 16%;
	margin:  2% 2% 50px 2%;
	float: left;
	-webkit-transition: color 0.5s ease;
}

.galleryItem h3 {
	text-transform: uppercase;
	line-height: 2;
}

.galleryItem:hover {
	color: #000;
}


/* MEDIA QUERIES*/
@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
	.galleryItem {width: 21%;}
}

@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
	.galleryItem {width: 29.33333%;}
	.header h1 {font-size: 40px;}
}

@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
	.galleryItem {width: 46%;}
	.header h1 {font-size: 28px;}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	.galleryItem {width: 96%;}
	.galleryItem img {width: 96%;}
	.galleryItem h3 {font-size: 18px;}
	.galleryItem p, .header p {font-size: 18px;}
	.header h1 {font-size: 70px;}
}
